{% extends 'base.html.twig' %}

{#
    # Author : PORTET Marin
    # Description : This page is a list for all products
#}

{% block title %}Catégories{% endblock %}

{% block body %}
    <div class="pt-5">

        <div class="container-fluid">

            {# Main Title #}
            <h1 class="h1 font-weight-bold">Catégories</h1>

            {# Separator #}
            <hr class="my-3">



            {# Options Catégories #}
            <div class="container">
                <h2>Options :</h2>
                <div class="container">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Select
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% for categorie in categories %}

                                <a class="dropdown-item" href="#cat{{ categorie.id }}" aria-pressed="true">Catégorie {{ categorie.nom | title }}</a>

                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            {# Separator #}
            <hr class="my-5">


            {# List of Products By Categorie #}
            {% for categorie in categories %}
                <div id="cat{{ categorie.id }}" class="container">

                    {# Title of categorie #}
                    <div class="row mt-5 mb-3">
                        <h2 class="h2 col-auto"> Catégorie {{ categorie.nom | title }}</h2>
                    </div>

                    {# List of Products #}
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                        {% for produit in categorie.produits %}
                            {% if loop.index <= 5 %}
                                <div class="col mb-4">
                                    <div class="card h-100">
                                        {% for image in produit.images %}
                                            <img src="{{ image }}" class="card-img-top" alt="{{ image.alternative }}">
                                        {% endfor %}
                                        <div class="card-body">
                                            <h3 class="card-title">{{ produit.nom | title }}</h3>
                                            <p class="card-text">{{ produit.description }}</p>
                                            <a class="card-link btn btn-primary " href="{{ path("app_product", {"categorie" : categorie.nom, "id" : produit.id} ) }}">En savoir plus...</a>
                                        </div>
                                        <div class="card-footer">
                                            <p class="card-text text-muted text-right"> Ajouté le : {{ produit.dateFr }} </p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>

                    {# Button to see a list of products for one categorie #}
                    <div class="row my-3">
                        <a class="btn btn-primary btn-lg col-8 mx-auto" href="{{ path("app_categorie", {"nom" : categorie.nom}) }}">Voir tout...</a>
                    </div>
                </div>

            {% endfor %}

            {# Separator #}
            <hr class="my-5">

        </div>
    </div>
{% endblock %}