{% extends 'base.html.twig' %}

{#
    # Author : PORTET Marin
    # Description : This page is a list of products for one categorie
#}

{% block title %}Catégorie{% endblock %}

{% block body %}
    <div class="pt-5">

        <div class="container-fluid">

            {# Main Title #}
            <h1 class="h1 font-weight-bold">Catégorie {{ categorie.nom | title }}</h1>

            {# Separator #}
            <hr class="my-5">


            {# List Of Products For One Categorie #}
            <div id="cat{{ categorie.id }}" class="container">

                {# List Of Products #}
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                    {% for produit in categorie.produits %}
                        <div class="col mb-4">
                            <div class="card h-100">
                                {% for image in produit.images %}
                                    <img src="{{ image }}" class="card-img-top" alt="{{ image.alternative }}">
                                {% endfor %}
                                <div class="card-body">
                                    <h3 class="card-title">{{ produit.nom | title }}</h3>
                                    <p class="card-text">{{ produit.description }}</p>
                                    <a class="card-link btn btn-primary " href="{{ path("app_product", {"categorie" : categorie.nom, "id" : produit.id} ) }}">En savoir plus...</a>
                                </div>
                                <div class="card-footer">
                                    <p class="card-text text-muted text-right"> Ajouter le : {{ produit.dateFr }} </p>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                </div>

                {# Button to back in the list for all products #}
                <div class="row justify-content-end">
                    <a class="col-3 btn btn-primary btn-lg" href="{{ path("app_categories") }}">Retour</a>
                </div>
            </div>

            {# Separator #}
            <hr class="my-5">

        </div>


    </div>
{% endblock %}
