{% extends 'base.html.twig' %}

{#
    # Author : PORTET Marin
    # Description : This page is a contact form
#}

{% block title %}Contact {% endblock %}

{% block body %}
    <div class="pt-5">

        {# Main Title #}
        <div class="container">
            <h1 class="h1">Contact</h1>
        </div>

        <div class="container">
            <div class="form-group">
                {{ form_start(form) }}
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <label for="contactForm-adresse">Adresse :</label>
                            {% if app.user %}
                                {{ form_widget(form.Adresse, { "attr" : {"id" : "contactForm-adresse", "class" : "form-control", "value" : app.user.email}}) }}
                            {% else %}
                                {{ form_widget(form.Adresse, { "attr" : {"id" : "contactForm-adresse", "class" : "form-control", "autofocus" : true}}) }}
                            {% endif %}
                        </div>

                        <div class="col-12">
                            <label for="contactForm-sujet">Sujet :</label>
                            {% if app.user %}
                                {{ form_widget(form.Sujet, { "attr" : {"id" : "contactForm-sujet", "class" : "form-control", "autofocus" : true}}) }}
                            {% else %}
                                {{ form_widget(form.Sujet, { "attr" : {"id" : "contactForm-sujet", "class" : "form-control"}}) }}
                            {% endif %}
                        </div>

                        <div class="col-12">
                            <label for="contactForm-message"> Message :</label>
                            {{ form_widget(form.Message, { "attr" : {"id" : "contactForm-message", "class" : "form-control", "rows" : 10, "cols" : 100}}) }}
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center mt-4">
                    {{ form_widget(form.Envoyer, { "attr" : {"class" : "btn btn-primary btn-lg"} }) }}
                </div>

                {{ form_end(form) }}
            </div>
        </div>

        {# Separator #}
        <hr class="my-5">

    </div>
{% endblock %}