{% extends 'base.html.twig' %}

{#
    # Author : PORTET Marin
    # Description : This page is a home page.
#}

{% block title %}Home Page{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <div class="row row-cols-1 row-cols-lg-2 align-items-center justify-content-center">
                    <div class="col">
                        {% if app.user %}
                            <h1 class="display-4">Bienvenue, {{ app.user.pseudo | capitalize }}, sur ShopNet !</h1>
                        {% else %}
                            <h1 class="display-4">Bienvenue sur ShopNet !</h1>
                        {% endif %}
                        <p class="lead">La date d'aujourd'hui est le {{ dateFr.semaine | title }} {{ dateFr | title }}.</p>
                    </div>
                    <div class="col">
                        <div class="d-flex flex-row flex-wrap justify-content-around">
                            <a href="{{ path("user_inscription") }}" class="btn btn-primary btn-lg">Nous rejoindre !</a>
                            <a href="{{ path("user_connexion") }}" class="btn btn-secondary btn-lg"> Déjà membre ?</a>
                        </div>
                    </div>
                </div>
            </div>

            {# Separator #}
            <hr class="my-1">
        </div>

        {# Separator #}
        <hr class="my-5">

        {# Carrousel #}
        <div class="container-fluid">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for i in 0..2 %}
                        {% if i == 0 %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="{{ i }}" class="active"></li>
                        {% else %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="{{ i }}"></li>
                        {% endif %}
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for i in 0..2 %}
                        {% if i == 0 %}
                            <div class="carousel-item active">
                                <img src="{{ asset("img/collection-summer.jpg") }}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>First slide label</h5>
                                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                </div>
                            </div>
                        {% else %}
                            <div class="carousel-item">
                                <img src="{{ asset("img/collection-summer.jpg") }}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block ">
                                    <h5>First slide label</h5>
                                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        {# Separator #}
        <hr class="my-5">

        {# List of random products #}
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
            {% for p in produits %}
                <div class="col mb-3">
                    <div class="card h-100">
                        {% for img in p.images %}
                            <img src="{{ img }}" class="card-img-top" alt="{{ img.alternative }}">
                        {% endfor %}
                        <div class="card-body ">
                            <h3 class="card-title"> {{ p.nom | capitalize }} </h3>
                            <p class="card-text"> {{ p.description }} </p>
                            <p class="card-text"> Prix : <span class="font-weight-bold">{{ p.prix }} €</span></p>
                            <a class="card-link btn btn-primary" href="{{ path("app_product", {"categorie" : p.categorie, "id" : p.id} ) }}">En savoir plus...</a>
                        </div>
                        <div class="card-footer">
                            <p class="card-text text-muted text-right"> Ajouté le : {{ p.dateFr }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {# Separator #}
        <hr class="my-5">

    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset("js/vue/app.js") }}"></script>
{% endblock %}
