{% extends 'base.html.twig' %}

{#
    # Author : PORTET Marin
    # Description : This page is a presentation of a product
#}

{% block title %}Produit {{ produit.id }}{% endblock %}

{% block body %}
    <div class="pt-5">

        {# Main Title #}
        <div class="container-fluid">
            <h1 class="h1 font-weight-bold">{{ produit.categorie | title }} - {{ produit.nom | title }}</h1>
        </div>

        {# Separator #}
        <hr class="my-5">

        {# Product Presentation #}
        <div class="container-fluid">
            <div class="row row-cols-1 row-cols-lg-2">
                {% for image in produit.images %}
                    <img src="{{ image.chemin }}" class="col" alt="{{ image.alternative }}">
                {% endfor %}
                <div class="container col">

                    <h5 class="h2">{{ produit.nom | capitalize}}</h5>
                    <p><span class="font-weight-bold">Description</span> : {{ produit.description }}</p>
                    <p><span class="font-weight-bold">Prix</span> : {{ produit.prix }} €</p>
                    <p><span class="font-weight-bold">Categorie</span> : {{ produit.categorie | capitalize}}</p>
                    <p><span class="font-weight-bold">En Stock</span> : {{ produit.quantite }}</p>
                    <p><span class="font-weight-bold">Date de sortie</span> : {{ produit.dateFr }}</p>

                    {# Separator #}
                    <hr class="my-1">

                    {% if app.user %}
                        {# Formulaire Personnalisation #}
                        <h5 class="h2">Personnalisation</h5>
                        <div class="form-group">
                            {{ form_start(formPanier) }}
                                <div class="row row-cols-1 row-cols-md-3 ">
                                    <label class="col" for="ajoutFormType-taille">
                                        {{ form_row(formPanier.tailles, {"attr" : {"id" : "ajoutFormType-taille", "class" : "custom-select"}}) }}
                                    </label>

                                    <label class="col" for="ajoutFormType-couleur">
                                        {{ form_row(formPanier.couleurs, {"attr" : {"id" : "ajoutFormType-couleur", "class" : "custom-select"}}) }}
                                    </label>

                                    <label class="col" for="ajoutFormType-nombre">
                                        {{ form_row(formPanier.quantite, { "attr" : {"id" : "ajoutFormType-nombre", "class" : "form-control", "value" : 1, "min" : 1, "max" : produit.quantite} }) }}
                                    </label>
                                </div>
                                {{ form_widget(formPanier.ajouter_au_panier, { "attr" : {"class" : "btn btn-primary"} }) }}
                            {{ form_end(formPanier) }}
                        </div>
                    {% else %}
                        <h5 class="h3 h3-responsive">Pour commander ce produit...</h5>
                        <div class="row row-cols-1 row-cols-md-2 align-content-center justify-content-center">
                            <div class="col-8 col-md-4 mt-2 mt-md-4 ">
                                <div class="row justify-content-center">
                                    <a href="{{ path("user_inscription") }}" class="btn btn-primary btn-lg">Nous rejoindre !</a>
                                </div>
                            </div>
                            <div class="col-8 col-md-4 mt-4 ">
                                <div class="row justify-content-center">
                                    <a href="{{ path("user_connexion") }}" class="btn btn-secondary btn-lg text-center"> Déjà membre ?</a>
                                </div>

                            </div>

                        </div>
                    {% endif %}

                </div>
            </div>
        </div>

        {# Separator #}
        <hr class="mt-5 mb-1">

        {# Tags Product #}
        <div class="col">
            <p><span class="font-weight-bold">Tags</span> :
                {% for key, tag in produit.tags %}
                    {% if key == produit.tags|length-1 %}
                        <a class="text-muted text-decoration-none" href="{{ path("tag_search", {"tag" : tag.nom}) }}">{{ tag.nom }}</a>
                    {% else %}
                        <a class="text-muted text-decoration-none" href="{{ path("tag_search", {"tag" : tag.nom}) }}">{{ tag.nom }}</a>,
                    {% endif %}
                {% endfor %}
            </p>
        </div>

        {# Separator #}
        <hr class="my-5">
        {% if app.user %}

            {# Formulaire Commentary #}
            <div id="formulaire-commentary" class="container">
                <h5 class="h2">Laissez nous votre avis sur ce produit :</h5>
                <div class="container form-group">
                    {{ form_start(formCommentaire) }}
                    <div class="row">

                        <label class="col" for="commentFormType-message">
                            {{ form_widget(formCommentaire.message, {"attr" : {"id" : "commentFormType-message", "class" : "form-control", "rows" : 10} }) }}
                        </label>

                    </div>
                    {{ form_widget(formCommentaire.donnez_votre_avis, { "attr" : {"class" : "btn btn-primary"} }) }}
                    {{ form_end(formCommentaire) }}
                </div>
            </div>
        {% else %}
            <div class="container">
                <h5 class="h3 h3-responsive">Pour nous laissez votre avis...</h5>
                <div class="row row-cols-1 row-cols-md-2 align-content-center justify-content-center">
                    <div class="col-8 col-md-3 mt-2 mt-md-4 ">
                        <div class="row justify-content-center">
                            <a href="{{ path("user_inscription") }}" class="btn btn-primary btn-lg">Nous rejoindre !</a>
                        </div>
                    </div>
                    <div class="col-8 col-md-3 mt-4 ">
                        <div class="row justify-content-center">
                            <a href="{{ path("user_connexion") }}" class="btn btn-secondary btn-lg text-center"> Déjà membre ?</a>
                        </div>

                    </div>

                </div>
            </div>

        {% endif %}


        {# Separator #}
        <hr class="my-5">

        {# Commentary #}
        <div id="section-commentaire" class="container">

            <h5 class="h2 mb-4">Avis des clients :</h5>
            {% if produit.commentaires|length == 0 %}
                <div class="container">
                    <p class="text-center">Il n'y a aucun avis sur ce produit.</p>
                </div>
            {% else %}

                <div class="row row-cols-1">
                    {% for commentaire in produit.commentaires|reverse %}
                        <div id="block-commentaire" class="col align-self-center">
                            <div class="container">

                                {# One commentary #}
                                <div class="row">
                                    <div class="container col">
                                        <div class="row row-cols-md-2 row-cols-1">
                                            <div class="col col-md-2 col-lg-1">
                                                <img class="rounded-circle " src="{{ asset(commentaire.user.image) }}" alt="" width="75" height="75">
                                            </div>
                                            <div class="col col-md-10 col-lg-10">
                                                <h6 class="h3 align-self-center">{{ commentaire.user.pseudo }}</h6>
                                                <p class="font-smaller text-muted">Posté le : {{ commentaire.dateFr }}</p>
                                            </div>
                                        </div>

                                        <div class="container col-9 border rounded bg-light ">
                                            <p> <span class="font-weight-bold">Avis : </span>{{ commentaire.message }}</p>
                                        </div>
                                        <div class="col-8">
                                            {% if app.user == commentaire.user %}
                                                <a href="{{ path("commentaire_delete", {"categorie" : produit.categorie, "id" : produit.id, "commentaire" : commentaire.id} ) }}"><i class="fi-x-circle"></i></a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                                {# Separator #}
                                <hr class="my-4">
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        {# Separator #}
        <hr class="my-5">


    </div>
{% endblock %}