/*!
 * Author : PORTET Marin
 * Description: Personnel CSS for my project school
 * Date : 2020-2021
 */

.bg-img{
    height: 100vh;
    font-size: 100%;
    background-size: cover;
    background-image: url("../img/collection-summer-male.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;

}

.index-top {
    z-index: 999;
}

.anim{
    animation-duration: 2s;
}