{% extends 'base.html.twig' %}

{#
    # Author : PORTET Marin
    # Description : This page is for edit adress
#}

{% block title %}Adresse{% endblock %}

{% block body %}
    <div class="pt-5">

        {# Main Title #}
        <div class="container">
            <h1 class="h1">Commande > Adresse</h1>
        </div>

        {% if app.user.adresse %}
        {# Separator #}
        <hr class="my-5">

        <div class="container">

            <div class="row row-cols-1 border rounded justify-content-center align-items-center">
                <div class="col bg-primary mb-3">
                    <div class="row row-cols-2 border-bottom justify-content-between align-items-center">
                        <div class="col">
                            <h2 class="h3 text-white">Adresse de livraison</h2>
                        </div>
                    </div>
                </div>

                <div class="col border-bottom pb-3">
                    <div class="row row-cols-1">
                        <div class="col">
                            {% if app.user.adresse.ville %}
                                <p><span class="font-weight-bold">Ville : </span> {{ app.user.adresse.ville }}</p>
                            {% else %}
                                <p><span class="font-weight-bold">Ville : </span>Non Renseigné</p>
                            {% endif %}
                        </div>
                        <div class="col">
                            {% if app.user.adresse.rue %}
                                <p><span class="font-weight-bold">Rue : </span> {{ app.user.adresse.rue }}</p>
                            {% else %}
                                <p><span class="font-weight-bold">Rue : </span>Non Renseigné</p>
                            {% endif %}
                        </div>
                        <div class="col">
                            {% if app.user.adresse.codePostal %}
                                <p><span class="font-weight-bold">Code Postal : </span> {{ app.user.adresse.codePostal }}</p>
                            {% else %}
                                <p><span class="font-weight-bold">Code Postal : </span>Non Renseigné</p>
                            {% endif %}
                        </div>
                        <div class="col">
                            {% if app.user.adresse.telephone %}
                                <p><span class="font-weight-bold">Téléphone : </span> {{ app.user.adresse.telephone }}</p>
                            {% else %}
                                <p><span class="font-weight-bold">Téléphone : </span>Non Renseigné</p>
                            {% endif %}
                        </div>
                        <div class="col">
                            {% if app.user.adresse.information %}
                                <p><span class="font-weight-bold">Information Supplémentaire : </span> {{ app.user.adresse.information }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end">
                <a class="col-5 col-md-3 col-lg-2 btn btn-primary btn-lg" href="{{ path("commande_cb") }}">Suivant</a>
            </div>

        </div>
        {% endif %}
        {# Separator #}
        <hr class="my-5">

        {# Edit Adress Form #}
        <div class="container">
            <div class="form-group">

                {{ form_start(form) }}
                <div class=" container row row-cols-1">

                    <div class="col">
                        {{ form_row(form.ville,{ "attr" : {"id" : "form-ville", "class" : "form-control", "autofocus" : true }}) }}
                    </div>

                    <div class="col">
                        {{ form_row(form.rue, { "attr" : {"id" : "form-rue", "class" : "form-control" }  }) }}
                    </div>

                    <div class="col">
                        {{ form_row(form.codePostal,{ "attr" : {"id" : "form-code", "class" : "form-control" } }) }}
                    </div>

                    <div class="col">
                        {{ form_row(form.telephone,{ "attr" : {"id" : "form-tel", "class" : "form-control" } }) }}
                    </div>

                    <div class="col">
                        {{ form_row(form.information,{ "attr" : {"id" : "form-info", "class" : "form-control", "row" : 10, "col" : 25}, "required" : false }) }}
                    </div>

                </div>

                <div class="row row-cols-2 justify-content-center mt-4">
                    {{ form_widget(form.confirmer,{ "attr" : {"class" : "col-2 btn btn-primary btn-lg"}}) }}
                </div>

                {{ form_end(form) }}

            </div>
        </div>

        {# Separator #}
        <hr class="my-5">

    </div>
{% endblock %}
