{% extends 'base.html.twig' %}

{#
    # Author : PORTET Marin
    # Description : This page is for edit CB
#}

{% block title %}CB{% endblock %}

{% block body %}
    <div class="pt-5">

        {# Main Title #}
        <div class="container">
            <h1 class="h1">Commande > Moyen De Paiement</h1>
        </div>

        {% if app.user.CB|length > 0 %}
            {# Separator #}
            <hr class="my-5">

            {# CB #}

            <div class ="container ">
                <div class="row row-cols-1 border rounded justify-content-center align-items-center">
                    <div class="col bg-primary mb-3">
                        <div class="row row-cols-2 border-bottom justify-content-between align-items-center">
                            <div class="col">
                                <h2 class="h3 text-white">Carte Bleue</h2>
                            </div>
                        </div>
                    </div>

                    <div class="col border-bottom pb-3">
                        <div class="table-responsive">
                            <table class="table border">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Numéro</th>
                                    <th scope="col">Expiration</th>
                                    <th scope="col">Cryptogramme</th>
                                    <th scope="col">Titulaire</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for cb in app.user.CB %}
                                    <tr>
                                        <th scope="row"><a class="btn btn-success btn-sm text-white text-decoration-none" href="{{ path("commande_confirmation", {"id" : cb.id}) }}" data-toggle="tooltip" title="Choisir cette carte">Choisir cette carte</a></th>
                                        <td>XXXX XXXX XXXX XXXX</td>
                                        <td>{{ cb.dateFr }}</td>
                                        <td>XXX</td>
                                        <td>{{ cb.titulaire }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

            </div>
        {% endif %}

        {# Separator #}
        <hr class="my-5">


        {# CB Form #}
        <div class="container">
            <div class="form-group">

                {{ form_start(form) }}
                <div class=" container row row-cols-1">

                    <div class="col">
                        {{ form_row(form.numero,{ "attr" : {"id" : "form-numero", "class" : "form-control", "autofocus" : true } }) }}
                    </div>

                    <div class="col">
                        {{ form_row(form.cryptogramme,{ "attr" : {"id" : "form-crypto", "class" : "form-control" }}) }}
                    </div>

                    <div class="col">
                        {{ form_row(form.titulaire, { "attr" : {"id" : "form-titulaire", "class" : "form-control" }}) }}
                    </div>

                    <div class="col">
                        {{ form_row(form.date, { "attr" : {"id" : "form-date", "class" : "form-control" }}) }}
                    </div>

                </div>

                <div class="row row-cols-2 justify-content-center mt-4">
                    {{ form_widget(form.confirmer,{ "attr" : {"class" : "col-2 btn btn-primary btn-lg"}}) }}
                </div>


                {{ form_end(form) }}

            </div>
        </div>


        {# Separator #}
        <hr class="my-5">

    </div>
{% endblock %}
