{% extends 'base.html.twig' %}

{#
    # Author : PORTET Marin
    # Description : This page is for confirm a command
#}

{% block title %}CB{% endblock %}

{% block body %}
    <div class="pt-5">

        {# Main Title #}
        <div class="container">
            <h1 class="h1">Commande > Confirmation</h1>
        </div>

        {# Separator #}
        <hr class="my-5">

        <div class="container">
            <div class="row row-cols-1 border rounded justify-content-center align-items-center">
                <div class="col bg-primary mb-3">
                    <div class="row row-cols-1 border-bottom justify-content-between align-items-center">
                        <div class="col-12">
                            <h2 class="h3 text-white">Adresse de livraison</h2>
                        </div>
                    </div>
                </div>

                <div class="col border-bottom pb-3">
                    <div class="row row-cols-1">
                        <div class="col">
                            <p><span class="font-weight-bold">Ville : </span> {{ app.user.adresse.ville }}</p>
                        </div>
                        <div class="col">
                            <p><span class="font-weight-bold">Rue : </span> {{ app.user.adresse.rue }}</p>
                        </div>
                        <div class="col">
                            <p><span class="font-weight-bold">Code Postal : </span> {{ app.user.adresse.codePostal }}</p>
                        </div>
                        <div class="col">
                            <p><span class="font-weight-bold">Téléphone : </span> {{ app.user.adresse.telephone }}</p>
                        </div>
                        <div class="col">
                            {% if app.user.adresse.information %}
                                <p><span class="font-weight-bold">Informations Supplémentaires : </span> {{ app.user.adresse.information }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end">
                <a class="col-5 col-md-3 col-lg-2 btn btn-primary btn-lg" href="{{ path("commande_adresse") }}">Modifier</a>
            </div>

        </div>

        {# Separator #}
        <div class="my-5"></div>


        <div class="container">
            <div class="row row-cols-1 border rounded justify-content-center align-items-center">
                <div class="col bg-primary mb-3">
                    <div class="row row-cols-1 border-bottom justify-content-between align-items-center">
                        <div class="col-12">
                            <h2 class="h3 text-white">Carte Bleue</h2>
                        </div>
                    </div>
                </div>

                <div class="col border-bottom pb-3">
                    <div class="row row-cols-1">
                        <div class="col">
                            <p><span class="font-weight-bold">Numéro de la carte : </span> XXXX XXXX XXXX XXXX</p>
                        </div>
                        <div class="col">
                            <p><span class="font-weight-bold">Date d'expiration : </span> {{ cb.dateFr }}</p>
                        </div>
                        <div class="col">
                            <p><span class="font-weight-bold">Cryptogramme : </span> XXX</p>
                        </div>
                        <div class="col">
                            <p><span class="font-weight-bold">Titulaire : </span> {{ cb.titulaire }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end">
                <a class="col-5 col-md-3 col-lg-2 btn btn-primary btn-lg" href="{{ path("commande_cb") }}">Modifier</a>
            </div>

        </div>

        {# Separator #}
        <div class="my-5"></div>


        <div class="container">
            <div class="row row-cols-1 border rounded justify-content-center align-items-center">
                <div class="col bg-primary mb-3">
                    <div class="row row-cols-2 border-bottom justify-content-between align-items-center">
                        <div class="col">
                            <h2 class="h3 text-white">Panier</h2>
                        </div>
                    </div>
                </div>

                <div class="col border-bottom pb-3">
                    <div class="table-responsive">
                        <table class="table border">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">Produit</th>
                                <th scope="col">Taille</th>
                                <th scope="col">Couleur</th>
                                <th scope="col">Prix(€)</th>
                                <th scope="col">Quantité</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for index, item in panier %}
                                <tr>
                                    <th scope="row"><a href="{{ path("app_product", {"categorie" : item.produit.categorie.nom, "id" : item.produit.id} ) }}">{{ item.produit.nom }}</a></th>
                                    <td>{{ item.taille }}</td>
                                    <td>{{ item.couleur }}</td>
                                    <td>{{ item.produit.prix }}€</td>
                                    <td>{{ item.nombre }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% set prixTotal = 0 %}
                    {% for item in panier %}
                        {% set prixTotal = prixTotal + ( item.produit.prix * item.nombre) %}
                    {% endfor %}
                    <p>Prix Total : <span class="font-weight-bold">{{ prixTotal }}€</span></p>
                </div>
            </div>
            <div class="row justify-content-end">
                <a class="col-5 col-md-3 col-lg-2 btn btn-primary btn-lg" href="{{ path("user_panier") }}">Modifier</a>
            </div>
        </div>

        {# Separator #}
        <div class="my-5"></div>

        <div class="container">
            <div class="row row-cols-2 justify-content-center ">
                    <a class="col-4 col-md-3 col-lg-2 mx-3 btn btn-primary btn-lg " href="{{ path("commande_commande") }}">Confirmer</a>
                    <a class=" col-4 col-md-3 col-lg-2 mx-3 btn btn-secondary btn-lg " href="{{ path("app_home") }}">Annuler</a>
            </div>
        </div>

        {# Separator #}
        <hr class="my-5">

    </div>
{% endblock %}
