{% extends 'base.html.twig' %}

{#
    # Author : PORTET Marin
    # Description : This page is for show a command
#}

{% block title %}CB{% endblock %}

{% block body %}
    <div class="pt-5">

        {# Main Title #}
        <div class="container">
            <h1 class="h1">Commande > {{ app.user.pseudo }}</h1>
        </div>

        {# Separator #}
        <hr class="my-5">

        <div class="container">
            <div class="row row-cols-1 border rounded justify-content-center align-items-center">
                <div class="col bg-primary mb-3">
                    <div class="row row-cols-2 border-bottom justify-content-between align-items-center">
                        <div class="col">
                            <h2 class="h3 text-white">Commande</h2>
                        </div>
                    </div>
                </div>

                <div class="col border-bottom pb-3">
                    <div class="table-responsive">
                        <table class="table border">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">Produit</th>
                                <th scope="col">Taille</th>
                                <th scope="col">Couleur</th>
                                <th scope="col">Prix(€)</th>
                                <th scope="col">Quantité</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in commande.items %}
                                <tr>
                                    <th scope="row"><a href="{{ path("app_product", {"categorie" : item.produit.categorie.nom, "id" : item.produit.id} ) }}">{{ item.produit.nom }}</a></th>
                                    <td>{{ item.taille }}</td>
                                    <td>{{ item.couleur }}</td>
                                    <td>{{ item.produit.prix }}€</td>
                                    <td>{{ item.nombre }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <p>Prix Total : <span class="font-weight-bold">{{ commande.prix }}€</span></p>
                    <p>Date: <span class="font-weight-bold">{{ commande.dateFr }}</span></p>
                </div>
            </div>
            <div class="row justify-content-end">
                <a class="col-5 col-md-3 col-lg-2 btn btn-primary btn-lg" href="{{ path("user_profil", {"pseudo" : app.user.pseudo}) }}">Retour</a>
            </div>
        </div>

        {# Separator #}
        <hr class="my-5">

    </div>
{% endblock %}
