{% extends 'base.html.twig' %}

{#
    # Author : PORTET Marin
    # Description : This page is a form upload file
#}

{% block title %}Fichier{% endblock %}

{% block body %}
    <div class="pt-5">

        {# Main Title #}
        <div class="container">
            <h1 class="h1">Fichier</h1>
        </div>

        {# Form Upload File #}
        <div class="container">
            <div class="form-group">

                {{ form_start(form) }}
                <div class="container row row-cols-1">

                    <div class="col custom-file">
                        <label for="form-fichier"></label>
                        {{ form_widget(form.fichier,{ "attr" : {"id" : "form-fichier", "class" : "form-control-file"} }) }}
                    </div>

                </div>

                <div class="row justify-content-center mt-4">
                    {{ form_widget(form.confirmer,{ "attr" : {"class" : "btn btn-primary btn-lg"}}) }}
                </div>


                {{ form_end(form) }}

            </div>
        </div>


        {# Separator #}
        <hr class="my-5">


    </div>
{% endblock %}