<!DOCTYPE html>
<html lang="fr">
    <head>
        <!-- META -->
        <meta charset="UTF-8">
        <meta name="author" content="PORTET Marin">
        <meta name="description" content="It is a site web for my project school with framework Synfony an VueJS">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

        <!-- TITLE -->
        <title>{% block title %}Welcome!{% endblock %}</title>

        <!-- CSS -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap/bootswatch.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
        <link rel="stylesheet" href="{{ asset('css/foundation/foundation-icons.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% block stylesheets %}{% endblock %}


    </head>
    <body>
        <!--HEADER -->
        <header>
            <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand " href="{{ path('app_home') }}">ShopNet</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse  " id="navbarColor01">
                    <ul class="navbar-nav mr-auto animated fadeInDown">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path("app_home") }}"><i class="fi-home"></i> Home<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle bg-transparent border-0 " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#" ><i class="fi-list"></i> Catégories</a>
                            <div class="dropdown-menu position-absolute">
                                <a class="dropdown-item" href="{{ path("app_categories")}}">All</a>
                                <div class="dropdown-divider"></div>
                                {% for categorie in categories %}
                                    <a class="dropdown-item" href="{{ path("app_categories")}}#cat{{ categorie.id }}">{{ categorie.nom }}</a>
                                {% endfor %}
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("app_contact") }}"><i class="fi-mail"></i> Contact</a>
                        </li>
                    </ul>
                    <div class="d-inline my-2 my-lg-0">
                        <ul class="navbar-nav mr-auto animated fadeInDown">
                            {% if app.user %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path("user_panier") }}"><i class="fi-shopping-cart"></i> Panier</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path("user_profil", {"pseudo" : app.user.pseudo}) }}"><i class="fi-torso"></i> Profil</a>
                                </li>
                                {% if "ROLE_ADMIN" in app.user.roles %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path("easyadmin") }}"><i class="fi-torso-business"></i> Admin</a>
                                    </li>
                                {% endif %}

                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path("user_deconnexion") }}"><i class="fi-lock"></i> Déconnexion</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path("user_connexion") }}"><i class="fi-unlock"></i> Connexion</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path("user_inscription") }}"><i class="fi-torsos-all"></i> Inscription</a>
                                </li>
                            {% endif %}


                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <!-- BODY -->
        <div class="pt-5">

            {% block body %}{% endblock %}

        </div>

        <!-- SCRIPTS -->
        <script src="{{ asset("js/bootstrap/jquery-3.4.1.js") }}"></script>
        <script src={{ asset('js/bootstrap/bootstrap.bundle.min.js') }}></script>
        <script src={{ asset('js/vue/vue.js') }}></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
        <script src={{ asset('js/vue/myConfigVue.js') }}></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>

