{% extends 'base.html.twig' %}

{#
    # Author : PORTET Marin
    # Description : This page is for password
#}

{% block title %}Modifier le mot de passe{% endblock %}

{% block body %}
    <div class="pt-5">

        {# Main Title #}
        <div class="container">
            <h1 class="h1">Mot de passe</h1>
        </div>

        {# Password Form #}
        <div class="container">
            <div class="form-group">

                {{ form_start(form) }}
                <div class=" container row row-cols-1">

                    <div class="col">
                        {{ form_row(form.currentPassword,{ "attr" : {"id" : "form-current", "class" : "form-control", "autofocus" : true } }) }}
                    </div>

                    <div class="col">
                        {{ form_row(form.newPassword,{ "attr" : {"id" : "form-new", "class" : "form-control" } }) }}
                    </div>

                </div>

                <div class="row row-cols-2 justify-content-center mt-4">
                    {{ form_widget(form.confirmer,{ "attr" : {"class" : "col-2 btn btn-primary btn-lg"}}) }}
                    <a class="col-2 btn btn-secondary btn-lg" href="{{ path("user_profil", {"pseudo" : app.user.pseudo}) }}">Annuler</a>
                </div>


                {{ form_end(form) }}

            </div>
        </div>


        {# Separator #}
        <hr class="my-5">


    </div>
{% endblock %}