{% extends 'base.html.twig' %}

{#
    # Author : PORTET Marin
    # Description : This page is for show all products by tag.
#}

{% block title %}Tag {{ tag.id }}{% endblock %}

{% block body %}
    <div class="pt-5">

        {# Main Title #}
        <div class="container">
            <h1 class="h1">Tag {{ tag.nom }}</h1>
        </div>

        {# Separator #}
        <hr class="my-5">
        <div class="container">
            <p> {{ tag.produits | length }} résultats pour le tag {{ tag.nom }}</p>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                {% for produit in tag.produits %}
                    <div class="col mb-4">
                        <div class="card h-100">
                            {% for image in produit.images %}
                                <img src="{{ image.chemin }}" class="card-img-top" alt="{{ image.alternative }}">
                            {% endfor %}
                            <div class="card-body">
                                <h3 class="card-title">{{ produit.nom }}</h3>
                                <p class="card-text">{{ produit.description }}</p>
                                <a class="card-link btn btn-primary " href="{{ path("app_product", {"categorie" : produit.categorie, "id" : produit.id} ) }}">En savoir plus...</a>
                            </div>
                            <div class="card-footer">
                                <p class="card-text text-muted text-right"> Ajouter le : {{ produit.dateFr }} </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>



        {# Separator #}
        <hr class="my-5">

    </div>
{% endblock %}