{% extends 'base.html.twig' %}

{#
    # Author : PORTET Marin
    # Description : This page is for edit adress
#}

{% block title %}Adresse{% endblock %}

{% block body %}
    <div class="pt-5">

        {# Main Title #}
        <div class="container">
            <h1 class="h1">Adresse</h1>
        </div>

        {# Edit adress form #}
        <div class="container">
            <div class="form-group">

                {{ form_start(form) }}
                <div class=" container row row-cols-1">

                    <div class="col">
                        {{ form_row(form.ville,{ "attr" : {"id" : "form-ville", "class" : "form-control", "autofocus" : true } }) }}
                    </div>

                    <div class="col">
                        {{ form_row(form.rue, { "attr" : {"id" : "form-rue", "class" : "form-control" }  }) }}
                    </div>

                    <div class="col">
                        {{ form_row(form.codePostal,{ "attr" : {"id" : "form-code", "class" : "form-control" } }) }}
                    </div>

                    <div class="col">
                        {{ form_row(form.telephone,{ "attr" : {"id" : "form-tel", "class" : "form-control" } }) }}
                    </div>

                    <div class="col">
                        {{ form_row(form.information,{ "attr" : {"id" : "form-info", "class" : "form-control", "row" : 10, "col" : 25}, "required" : false }) }}
                    </div>

                </div>

                <div class="row row-cols-2 justify-content-center mt-4">
                    {{ form_widget(form.confirmer,{ "attr" : {"class" : "col-2 btn btn-primary btn-lg"}}) }}
                    <a class="col-2 btn btn-secondary btn-lg" href="{{ path("user_profil", {"pseudo" : app.user.pseudo}) }}">Annuler</a>
                </div>

                {{ form_end(form) }}

            </div>
        </div>

        {# Separator #}
        <hr class="my-5">

    </div>
{% endblock %}