{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="pt-5">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('user_deconnexion') }}">Logout</a>
                </div>
            {% endif %}

            <div class="container">

                <h1 class="h1">Connexion</h1>

                <div class="container">
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    <div class="row justify-content-center my-3">
                        <button class="btn btn-lg btn-primary" type="submit">
                            Connexion
                        </button>
                    </div>

                </div>

            </div>

        </form>

        {# Separator #}
        <hr class="my-5">

    </div>
{% endblock %}
