{% extends 'base.html.twig' %}

{#
    # Author : PORTET Marin
    # Description : This page is for sign up
#}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="pt-5">

        {# Main Title #}
        <div class="container">
            <h1 class="h1">Inscription</h1>
        </div>

        {# Sign up form#}
        <div class="container">
            <div class="form-group">

                {{ form_start(form) }}
                <div class=" container row row-cols-1">

                    <div class="col">
                        {{ form_row(form.nom,{ "attr" : {"id" : "form-nom", "class" : "form-control", "autofocus" : true } }) }}
                    </div>

                    <div class="col">
                        {{ form_row(form.prenom, { "attr" : {"id" : "form-prenom", "class" : "form-control" }}) }}
                    </div>

                    <div class="col">
                        {{ form_row(form.pseudo,{ "attr" : {"id" : "form-pseudo", "class" : "form-control" }}) }}
                    </div>

                    <div class="col">
                        {{ form_row(form.email,{ "attr" : {"id" : "form-email", "class" : "form-control" }}) }}
                    </div>

                    <div class="col">
                        {{ form_row(form.password,{ "attr" : {"id" : "form-password", "class" : "form-control" }}) }}
                    </div>

                </div>

                <div class="row justify-content-center mt-4">
                    {{ form_widget(form.confirmer,{ "attr" : {"class" : "btn btn-primary btn-lg"}}) }}
                </div>


                {{ form_end(form) }}

            </div>
        </div>

        {# Separator #}
        <hr class="my-5">

    </div>
{% endblock %}