{% extends 'base.html.twig' %}

{#
    # Author : PORTET Marin
    # Description : This page is for cart
#}

{% block title %}Panier{% endblock %}

{% block body %}
    <div class="pt-5">
        <div class="container-fluid">


            {# Main Title #}
            <div class="container">
                <h1 class="h1">Panier de {{ app.user.pseudo }} </h1>
            </div>


            {# Separator #}
            <div class="my-5"></div>

            <div class="container">
                <div class="row row-cols-1 border rounded justify-content-center align-items-center">
                    <div class="col bg-primary mb-3">
                        <div class="row row-cols-2 border-bottom justify-content-between align-items-center">
                            <div class="col">
                                <h2 class="h3 text-white">Articles</h2>
                            </div>
                        </div>
                    </div>

                    <div class="col border-bottom pb-3">
                        {% if panier|length == 0 %}
                            <p class="text-body">Vous n'avez aucun produit dans votre panier</p>
                        {% else %}
                            <div class="table-responsive">
                                <table class="table border">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Produit</th>
                                        <th scope="col">Taille</th>
                                        <th scope="col">Couleur</th>
                                        <th scope="col">Prix(€)</th>
                                        <th scope="col">Quantité</th>
                                        <th scope="col">Supprimer</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for index, item in panier %}
                                        <tr>
                                            <th scope="row"><a href="{{ path("app_product", {"categorie" : item.produit.categorie.nom, "id" : item.produit.id} ) }}">{{ item.produit.nom }}</a></th>
                                            <td>{{ item.taille }}</td>
                                            <td>{{ item.couleur }}</td>
                                            <td>{{ item.produit.prix }}€</td>
                                            <td>{{ item.nombre }}</td>
                                            <td><a href="{{ path("panier_delete", {"index" : index} ) }}">Supprimer</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                            {% set prixTotal = 0 %}
                            {% for item in panier %}
                                {% set prixTotal = prixTotal + ( item.produit.prix * item.nombre) %}
                            {% endfor %}
                            <p>Nombre d'articles : <span class="font-weight-bold">{{ panier|length }}</span></p>
                            <p>Prix Total : <span class="font-weight-bold">{{ prixTotal }}€</span></p>
                        {% endif %}
                    </div>
                </div>
            </div>

            {# Separator #}
            <div class="my-5"></div>

            {% if panier|length != 0 %}
            <div class="container">
                <div class="row  justify-content-end ">
                    <a class="col-5 col-md-3 col-lg-2 mr-5 btn btn-primary btn-lg" href="{{ path("commande_adresse") }}">Commander</a>
                </div>
            </div>
            {% endif %}


            {# Separator #}
            <div class="my-5"></div>


        </div>
    </div>
{% endblock %}