{% extends 'base.html.twig' %}

{#
    # Author : PORTET Marin
    # Description : This page is for show a profil
#}

{% block title %}Profil - {{ app.user.pseudo }}{% endblock %}

{% block body %}
    <div class="pt-5">

        {# Main Title #}
        <div class="container">
            <blockquote class="blockquote">
                <h1 class="h1">Compte de {{ app.user.pseudo }} </h1>
                <footer class="blockquote-footer ml-3">Inscrit le : {{ app.user.dateFr | title }}</footer>
            </blockquote>
        </div>


        {# Separator #}
        <hr class="my-5">


        {# Informations #}
        <div class ="container">
            <div class="row row-cols-1 border rounded justify-content-center align-items-center">
                <div class="col bg-primary mb-3">
                    <div class="row row-cols-2 border-bottom justify-content-between align-items-center">
                        <div class="col">
                            <h2 class="h3 text-white">Informations</h2>
                        </div>
                        <div class="col row justify-content-end ">
                            <a class="btn btn-secondary text-white mr-3" href="{{ path("user_profil_edit") }}" data-toggle="tooltip" title="Modifier les informations du profil" ><i class="fi-widget"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col border-bottom pb-3">
                    <div class="row row-cols-1">
                        <div class="col">
                            <p><span class="font-weight-bold">Nom : </span> {{ app.user.nom | upper}}</p>
                        </div>
                        <div class="col">
                            <p><span class="font-weight-bold">Prénom : </span> {{ app.user.prenom | title}}</p>
                        </div>
                        <div class="col">
                            <p><span class="font-weight-bold">Pseudo : </span> {{ app.user.pseudo }}</p>
                        </div>
                        <div class="col">
                            <p><span class="font-weight-bold">Email : </span> {{ app.user.email }}</p>
                        </div>
                    </div>
                </div>
                <div class="col bg-light pb-3">
                    <div class="row align-items-center">
                        <div class="col">
                            <p><span class="font-weight-bold">Autre Option : </span></p>
                            <ul class="list-group ">
                                <a class="list-group-item list-group-item-action text-decoration-none" href="{{ path("user_change_password") }}">Changer le mot de passe</a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# Separator #}
        <div class="my-5"></div>

        {# Image #}
        <div class ="container ">
            <div class="row row-cols-1 border rounded justify-content-center align-items-center">
                <div class="col bg-primary mb-3">
                    <div class="row row-cols-2 border-bottom justify-content-between align-items-center">
                        <div class="col">
                            <h2 class="h3 text-white">Image du profil</h2>
                        </div>
                        <div class="col row justify-content-end ">
                            <a class="btn btn-secondary text-white mr-3" href="{{ path("user_profil_image") }}" data-toggle="tooltip" title="Modifier l'image de profil" ><i class="fi-widget"></i></a>
                            {% if app.user.image.chemin != "img/profil/default-user-profil.svg" %}
                                <a class="btn btn-danger text-white mr-3" href="{{ path("user_profil_image_reset") }}" data-toggle="tooltip" title="Supprimer l'image de profil"><i class="fi-minus"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="col border-bottom pb-3">
                    <div class="row row-cols-1">
                        <div class="col">
                            <img class="rounded-circle" src="{{ asset(app.user.image) }}" alt="" width="200" height="200">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# Separator #}
        <div class="my-5"></div>

        {# Adress #}
        <div class ="container ">
            <div class="row row-cols-1 border rounded justify-content-center align-items-center">
                <div class="col bg-primary mb-3">
                    <div class="row row-cols-2 border-bottom justify-content-between align-items-center">
                        <div class="col">
                            <h2 class="h3 text-white">Adresse de livraison</h2>
                        </div>
                        <div class="col row justify-content-end ">
                            {% if app.user.adresse %}
                                <a class="btn btn-secondary text-white mr-3" href="{{ path("user_adresse_edit") }}" data-toggle="tooltip" title="Modifier cette adresse"><i class="fi-widget"></i></a>
                                <a class="btn btn-danger text-white mr-3" href="{{ path("user_adresse_delete") }}" data-toggle="tooltip" title="Supprimer cette adresse"><i class="fi-minus"></i></a>
                            {% else %}
                                <a class="btn btn-success text-white mr-3" href="{{ path("user_adresse_edit") }}" data-toggle="tooltip" title="Ajouter une adresse"><i class="fi-plus"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if app.user.adresse %}
                <div class="col border-bottom pb-3">

                    <div class="row row-cols-1">
                        <div class="col">
                            {% if app.user.adresse.ville %}
                                <p><span class="font-weight-bold">Ville : </span> {{ app.user.adresse.ville }}</p>
                            {% else %}
                                <p><span class="font-weight-bold">Ville : </span>Non Renseigné</p>
                            {% endif %}
                        </div>
                        <div class="col">
                            {% if app.user.adresse.rue %}
                                <p><span class="font-weight-bold">Rue : </span> {{ app.user.adresse.rue }}</p>
                            {% else %}
                                <p><span class="font-weight-bold">Rue : </span>Non Renseigné</p>
                            {% endif %}
                        </div>
                        <div class="col">
                            {% if app.user.adresse.codePostal %}
                                <p><span class="font-weight-bold">Code Postal : </span> {{ app.user.adresse.codePostal }}</p>
                            {% else %}
                                <p><span class="font-weight-bold">Code Postal : </span>Non Renseigné</p>
                            {% endif %}
                        </div>
                        <div class="col">
                            {% if app.user.adresse.telephone %}
                                <p><span class="font-weight-bold">Téléphone : </span> {{ app.user.adresse.telephone }}</p>
                            {% else %}
                                <p><span class="font-weight-bold">Téléphone : </span>Non Renseigné</p>
                            {% endif %}
                        </div>
                        <div class="col">
                            {% if app.user.adresse.information %}
                                <p><span class="font-weight-bold">Informations Supplémentaires : </span> {{ app.user.adresse.information }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <div class="col bg-light pb-3">
                        <div class="row align-items-center">
                            <div class="col">
                                <p><span class="font-weight-bold">Autre Option : </span></p>
                                <ul class="list-group">
                                    <a class="list-group-item item list-group-item-info text-decoration-none" href="{{ path("user_adresse_edit") }}">Ajouter une adresse</a>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>


        {# Separator #}
        <div class="my-5"></div>

        {# CB #}
        <div class ="container ">
            <div class="row row-cols-1 border rounded justify-content-center align-items-center">
                <div class="col bg-primary mb-3">
                    <div class="row row-cols-2 border-bottom justify-content-between align-items-center">
                        <div class="col">
                            <h2 class="h3 text-white">Carte Bleue</h2>
                        </div>
                        <div class="col row justify-content-end ">
                            <a class="btn btn-success text-white mr-3" href="{{ path("user_cb_add") }}" data-toggle="tooltip" title="Ajouter une carte"><i class="fi-plus"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col border-bottom pb-3">
                    {% if app.user.CB|length == 0 %}
                        <div class="col  bg-light pb-3">
                            <div class="row align-items-center">
                                <div class="col">
                                    <p><span class="font-weight-bold">Autre Option : </span></p>
                                    <ul class="list-group">
                                        <a class="list-group-item item list-group-item-info text-decoration-none" href="{{ path("user_cb_add") }}">Ajouter une carte</a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% else %}
                    <div class="table-responsive">
                        <table class="table border">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Numéro</th>
                                    <th scope="col">Expiration</th>
                                    <th scope="col">Cryptogramme</th>
                                    <th scope="col">Titulaire</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for cb in app.user.CB %}
                                <tr>
                                    <th scope="row"><a class="btn btn-danger btn-sm text-white text-decoration-none" href="{{ path("user_cb_delete", {"id" : cb.id}) }}" data-toggle="tooltip" title="Supprimer cette carte"><i class="fi-minus"></i></a></th>
                                    <td>XXXX XXXX XXXX XXXX</td>
                                    <td>{{ cb.dateFr }}</td>
                                    <td>XXX</td>
                                    <td>{{ cb.titulaire }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>

        {# Separator #}
        <div class="my-5"></div>

        {# Commands #}
        {% if app.user.commandes|length != 0 %}
            <div class ="container ">
                <div class="row row-cols-1 border rounded justify-content-center align-items-center">
                    <div class="col bg-primary mb-3">
                        <div class="row row-cols-2 border-bottom justify-content-between align-items-center">
                            <div class="col">
                                <h2 class="h3 text-white">Commandes</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col border-bottom pb-3">
                        <div class="table-responsive">
                            <table class="table border">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Produits</th>
                                    <th scope="col">Voir</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for nombre, commande in app.user.commandes | reverse %}
                                    <tr>
                                        <th scope="row">{{ nombre }}</th>
                                        <td>{{ commande.dateFr }}</td>
                                        <td>{{ commande.items|length }}</td>
                                        <td><a class="btn btn-success btn-sm" href="{{ path("commande_show", {"id" : commande.id}) }}" data-toggle="tooltip" title="Voir la commande"><i class="fi-eye"></i></a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {# Separator #}
        <hr class="my-5">

    </div>
{% endblock %}